*~
*.o
*.so
.Rdata
.Rhistory
libs/
src-x64/
.Rproj.user/
src-i386/
.Rproj.user
RcppExports*
src/rsamara.dll
/src/RcppExports.cpp
/R/RcppExports.R
Pareto/
Parameters_*
Estimations/
Myriam/
src/samara.dll
